extends layout

block content
	h1.text-center= title
	div.container-fluid
		div.categories-list.clearfix
			-if (categories.length)
				-each category in categories
					div.clearfix.categories-list-item
						a(href="/categories/#{category._id}")
							h3!= category.title
							div.categories-list-img
								img(src="uploads/#{category.img}" title=category.title alt=category.title)
						p!= category.description
			-else
				br
				p Список категорий пуст.

	div(style="max-width:80%;margin:0 auto 50px")
		h2 Последние добавленные
		p В разработке

		br
		br

		h2 Что это такое?
		p В разработке
