extends layout
block content

	a(href="/") ← Назад
	h1= title
	p.small= date_created
	p= description


	div.categories-list.clearfix
		-if (subcategories.length)
			-each category in subcategories
				div.clearfix.categories-list-item
					a(href="/subcategories/#{category._id}")
						h3!= category.title
						div.categories-list-img
							-if (category.img)
								img(src="/uploads/#{category.img}" alt=category.title).img_max-200
							-else
								img(src="/images/default.png" alt=category.title).img_max-200
					p!= category.description
		-else
			br
			p Список категорий пуст.
