extends ../layout
block vars
	-var editTpl = true
block content
	h1= title

	table.table.table-striped.table-bordered
		tr
			th Id
			th Название
			th Описание
			th Картинка
			th Дата
			th(width=100)
		-if (categories.length)
			-each category in categories
				tr
					td= category._id
					td= category.title
					td= category.description
					td
						-if (category.img)
							img(src="/uploads/#{category.img}" alt=category.title).img_max-200
						-else
							img(src="/images/default.png" alt=category.title).img_max-200
					-var date = category.created.toISOString();
					td #{date.substring(0, date.indexOf('T'))} #{date.substring(date.indexOf('T')+1, date.indexOf('.'))}
					td

						a(href="/edit/category/#{category._id}").btn.btn-info Редактировать
						br
						br
						form(action='/edit/category/#{category._id}',method='post')
							input(type='hidden',value='DELETE',name='_method')
							button(type='submit').btn.btn-danger Удалить


		-else
			tr
				td(colspan="6") Список категорий пуст


	include ../modules/edit__add-categories

