extends ../layout
block vars
	-var editTpl = true
block content
	h1= title
	table.table.table-striped.table-bordered
		tr
			th(width=250) Id
			th(width=160) Категория
			th Название
			th Превью
			//th Описание
			th Картинка
			th Дата
			th(width=100)

		-if (subcategories.length)
			-each category in subcategories
				tr
					td= category._id
					td
						a(href='/categories/#{category.category_id}', target='_blank')= category.category_name[0].title

					td
						a(href="/subcategories/#{category._id}" target="_blank")= category.title
					td= category.preview
					//td= category.description
					td
						-if (category.img !== undefined)
							img(src="/uploads/#{category.img}" alt=category.title).img_max-200
						-else
							img(src="/images/default.png" alt=category.title).img_max-200


					-var date = category.created.toISOString();
					td #{date.substring(0, date.indexOf('T'))} #{date.substring(date.indexOf('T')+1, date.indexOf('.'))}
					td
						a(href="/edit/subcategory/#{category._id}").btn.btn-info Редактировать
						br
						br
						form(action='/edit/subcategory/#{category._id}',method='post')
							input(type='hidden',value='DELETE',name='_method')
							button(type='submit').btn.btn-danger Удалить

		-else
			tr
				td(colspan="7") Список категорий пуст


	include ../modules/edit__add-subcategories